<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Instagram</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
		<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<style>
		#search_results {
			display: block; 
			position:relative
		} 
		.ui-autocomplete {
			position: absolute;
		}
		</style>
	</head>
	<body style="background-color: #FAFAFA;">
	<nav style="background-color: #FFF;" class="navbar navbar-default navbar-fixed-top navbar-light bg-light">
		<div class="container-fluid col-lg-10">
			<div class="navbar-header">
				<div class="col-lg-10">
				</div>
				<div class="col-lg-2">
				<a class="navbar-brand" href="/"><img src="/images/heading-logo.png"></a>
				</div>
			</div>
			<div class="col-lg-9">
			<ul class="nav navbar-nav pull-right">
				<li><div style="margin-top:10px;margin-right:100px;background-color:#FAFAFA;">
						<form class="form-inline ml-auto">
							<div class="md-form my-0">
								<input style="background-color:#FAFAFA;" id="search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
							</div>
							<div id="search_results">
							</div>
						</form>
					</div>
				</li>
				<li><a class="glyphicon glyphicon-home" style="font-size:25px;" href="/"></a></li>
				<li><a class="glyphicon glyphicon-plus" style="font-size:25px;" data-toggle="modal" href="#createPostModal"></a></li>
				<li><a class="glyphicon glyphicon-heart-empty" style="font-size:25px;" href="#"></a></li>
				<li><a class="glyphicon glyphicon-log-out" style="font-size:25px;" href="{{logout_url}}"></a></li>
			</ul>
			</div>
		</div>
	</nav>
	<div style="margin-bottom:100px;" class="col-lg-12">
	</div>
	<div class="col-lg-2">
	</div>
	<div class="col-lg-6">
		<div class="col-lg-4">
		{% if current_user == user_profile.user %}
			<a data-toggle="modal" href="#profilepic"><img src="/view_photo/{{user_profile.profile_image}}" class="img-circle" onerror="this.onerror=null; this.src='/images/default.png'" width = "200" height = "200"></a>
		{% else %}
			<img src="/view_photo/{{user_profile.profile_image}}" onerror="this.onerror=null; this.src='/images/default.png'" class="img-circle" width = "200" height = "200">
		{% endif %}
		</div>
		<div class="col-lg-8">
		{% if current_user == user_profile.user %}
			<h1>{{user_profile.username}}</h1>
		{% else %}
			{% if current_user.email() in user_profile.followers %}
				<h1>{{user_profile.username}}<Button onclick="window.location.href = '/unfollow/{{user_profile.user.email()}}';" class="btn btn-primary">Unfollow</Button></h1>
			{% else %}
				<h1>{{user_profile.username}}<Button onclick="window.location.href = '/follow/{{user_profile.user.email()}}';" class="btn btn-primary">Follow</Button></h1>
			{% endif %}
		{% endif %}
		<div class="col-lg-4">
			<h4><b>{{number_of_posts}}</b> posts</h4>
		</div>
		<div class="col-lg-4">
			<a href="/followers/{{user_profile.user.email()}}"><h4><b>{{followers}}</b> followers</h4></a>
		</div>
		<div class="col-lg-4">
			<a href="/following/{{user_profile.user.email()}}"><h4><b>{{following}}</b> following</h4></a>
		</div>
		<div class="col-lg-4">
			<h4 style="margin-bottom:50px;"><b>{{user_profile.user.email()}}</b></h4>
		</div>
		</div>
	</div>
	<div class="col-lg-12">
	</div>
	<div class="col-lg-2">
	</div>
	<div class="col-lg-8">
	{% for post in posts %}
	<div style="margin-bottom:30px;" class="col-lg-4">
		<img src="/view_photo/{{post.post_image}}" style="width: 100%;" height="250" >
	</div>
	{% endfor %}
	</div>
		<div id="createPostModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Create Post</h4>
					</div>
					<div class="modal-body">
						<form name = "input" enctype="multipart/form-data" action = "{{upload_url}}" method = "POST">
							<p>image: <input type = "file" name = "image" accept=".jpg, .png" required></p>
							<p>caption: <input type = "text" name = "caption"></p>
							<button type="submit" class="btn btn-primary">Create Post</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="profilepic" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Profile Pic</h4>
					</div>
					<div class="modal-body">
						<form name = "input" enctype="multipart/form-data" action = "{{upload_url}}" method = "POST">
							<p>image: <input type = "file" name = "image" accept=".jpg, .png" required></p>
							<input type = "text" name = "caption" value="profile" hidden></p>
							<button type="submit" class="btn btn-primary">Save profile</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</body> 
	<script>
         $(function() {
            $( "#search" ).autocomplete({
               source: {{user_names|safe}},
			   autoFocus:true,
			   appendTo: "#search_results",
			   minLength: 2,
				select: function(event, ui) {
					if(ui.item){
						$('#search').val(ui.item.value);
						window.location.href = "/profile/"+ui.item.value;
					}
				}
            });
         });
      </script>
</html>